body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #050814;
  color: #f3f5ff;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 18px;
  background: rgba(218, 218, 243, 0.34);
  color: white;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box; /* wichtig, damit padding nicht die Größe sprengt */
}

.toggle {
  position: relative;
  width: 44px;
  height: 24px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #aaa;
  border-radius: 24px;
  transition: 0.3s;
}

.toggle .slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background-color: #4caf50;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}
