body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #050814;
  color: #f3f5ff;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 18px;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  border-radius: 40px;
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box; /* wichtig, damit padding nicht die Größe sprengt */
}

.start-button {
  appearance: none;
  border: none;

  padding: 10px 18px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.85);
  color: rgb(0, 0, 0);

  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.02em;

  cursor: pointer;

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 0 1px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background 0.15s ease;
}

/* Hover */
.start-button:hover {
  transform: translateY(-1px);
  background: rgba(255, 255, 255, 0.95);

  box-shadow:
    0 6px 16px rgba(0, 0, 0, 0.16),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Active (Klick) */
.start-button:active {
  transform: translateY(0);
  box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.14),
    inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}




