body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #050814;
  color: #f3f5ff;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 18px;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  border-radius: 40px;
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box; /* wichtig, damit padding nicht die Größe sprengt */
}

.start-button {
  appearance: none;
  border: 1px solid #000;

  padding: 10px 18px;
  border-radius: 15px;

  background: #fff;
  color: #000;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;

  cursor: pointer;

    transition:
    transform 0.2s ease,
    background 0.2s ease,
    color 0.2s ease;
}

/* Hover */
.start-button:hover {
  background: #747474;
  color: #fff;
  transform: translateY(-1px) scale(1.09);
  

}

/* Active (Click) */
.start-button:active {
  transform: translateY(0);
}





